#formContainer {
  margin: 0 auto;
  padding: 10px;
  height: 325px;
  width: 960px;
  background-color: #67daff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

form {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #01a9f4;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
}

fieldset {
  display: flex;
  border: none;
  margin: 5px;
}

label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
  height: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
}